name: Cancel previous runs

on:
  pull_request_target:
    paths:
      - '**cancel-previous-runs**'
      - 'package.json'
      - 'package-lock.json'
      - 'node_modules/**'

jobs:
  cancel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cancel
        uses: ./cancel-previous-runs
        with:
          workflow: cancel-previous-runs.yml
