name: Check commit format

on:
  pull_request:
    paths:
      - '**check-commit-format**'
      - 'package.json'
      - 'package-lock.json'
      - 'node_modules/**'

permissions: write-all

jobs:
  check-commit-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Test
        uses: ./check-commit-format/
        with:
          failure_label: enhancement

      - name: Unlabel
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR: ${{github.event.pull_request.number}}
        run: gh api -X DELETE repos/$GITHUB_REPOSITORY/issues/$PR/labels/enhancement
