name: Git user config

on:
  pull_request:
    paths:
      - "**git-user-config**"
      - "package.json"
      - "package-lock.json"
      - "node_modules/**"

permissions: {}

jobs:
  user-config:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Config
        id: config
        uses: ./git-user-config/
        with:
          username: BrewTestBot

      - name: Test
        env:
          CONFIG_OUTPUT_NAME: ${{steps.config.outputs.name}}
          CONFIG_OUTPUT_EMAIL: ${{steps.config.outputs.email}}
        run: |
          test "$CONFIG_OUTPUT_NAME" = "BrewTestBot"
          test "$CONFIG_OUTPUT_EMAIL" = "1589480+BrewTestBot@users.noreply.github.com"
          test "$(git config --global user.name)" = "BrewTestBot"
          test "$(git config --global user.email)" = "1589480+BrewTestBot@users.noreply.github.com"
