name: Label pull requests

on:
  pull_request:
    paths:
      - '**label-pull-requests**'
      - 'package.json'
      - 'package-lock.json'
      - 'node_modules/**'

jobs:
  label-pull-requests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Test JSON
        uses: ./label-pull-requests/
        with:
          def: |
            [
              {
                "label": "wontfix",
                "path": ".+"
              }
            ]

      - name: Unlabel
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR: ${{github.event.pull_request.number}}
        run: gh api -X DELETE repos/$GITHUB_REPOSITORY/issues/$PR/labels/wontfix

      - name: Test YAML
        uses: ./label-pull-requests/
        with:
          def: |
            - label: invalid
              path: .+

      - name: Unlabel
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR: ${{github.event.pull_request.number}}
        run: gh api -X DELETE repos/$GITHUB_REPOSITORY/issues/$PR/labels/invalid
