name: Wait for idle runner

on:
  push:
    branches:
      - main
      - master
  pull_request:
    paths:
      - "**wait-for-idle-runner**"
      - "package.json"
      - "package-lock.json"
      - "node_modules/**"

permissions: {}

jobs:
  syntax:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Check scripts
        run: node --check wait-for-idle-runner/main.js
