name: Wait for idle runner

on:
  push:
    branches:
      - main
      - master
  pull_request:
    paths:
      - "**wait-for-idle-runner**"
      - "package.json"
      - "package-lock.json"
      - "node_modules/**"

permissions: {}

jobs:
  syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Check scripts
        run: node --check wait-for-idle-runner/main.js
